# Transformação de Dados - ENADE - INEP _ Ministério da Educação

## Aula 2.2

Transformação dos Microdados do Enade 2019 | zip (Atualizado em 13/05/2021)

In [3]:
# Importar bibliotecas

import pandas as pd 
import numpy as np 
import os

In [4]:
enade = pd.read_csv("./enade2019/3.DADOS/microdados_enade_2019_2.txt", 
                    sep = ";", 
                    decimal = "." )

In [5]:
enade.head()

,NU_ANO,CO_IES,CO_CATEGAD,CO_ORGACAD,CO_GRUPO,CO_CURSO,CO_MODALIDADE,CO_MUNIC_CURSO,CO_UF_CURSO,CO_REGIAO_CURSO,...,QE_I59,QE_I60,QE_I61,QE_I62,QE_I63,QE_I64,QE_I65,QE_I66,QE_I67,QE_I68
0,2019,1,10002,10028,5710,3,1,5103403,51,5,...,2.0,5.0,1.0,1.0,2.0,5.0,8.0,7.0,1.0,2.0
1,2019,1,10002,10028,5710,3,1,5103403,51,5,...,1.0,4.0,2.0,2.0,2.0,5.0,4.0,4.0,2.0,2.0
2,2019,1,10002,10028,5710,3,1,5103403,51,5,...,3.0,4.0,4.0,3.0,3.0,4.0,1.0,1.0,1.0,4.0
3,2019,1,10002,10028,5710,3,1,5103403,51,5,...,3.0,5.0,2.0,2.0,2.0,3.0,3.0,4.0,3.0,3.0
4,2019,1,10002,10028,5710,3,1,5103403,51,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
#enade.dtypes
enade.select_dtypes(include='object')

,TP_SEXO,DS_VT_GAB_OFG_ORIG,DS_VT_GAB_OFG_FIN,DS_VT_GAB_OCE_ORIG,DS_VT_GAB_OCE_FIN,DS_VT_ESC_OFG,DS_VT_ESC_OCE,DS_VT_ACE_OCE,CO_RS_I1,CO_RS_I2,...,QE_I17,QE_I18,QE_I19,QE_I20,QE_I21,QE_I22,QE_I23,QE_I24,QE_I25,QE_I26
0,M,ZDCBCCDB,ZDCBCCDB,ABECDDEABDECCBCDEBAEDCDBAAA,ABEXDDEABDECXXXDXBAEDCXXAAA,DACBCBDD,ABEEDDDAADEAEECBBABECCACBAA,111911010110999090010199011,E,D,...,B,A,B,G,A,B,D,A,E,C
1,M,ZDCBCCDB,ZDCBCCDB,ABECDDEABDECCBCDEBAEDCDBAAA,ABEXDDEABDECXXXDXBAEDCXXAAA,CDCBDCBC,ABCECDEBAABCCCDDDBAEDCBADDA,110901100001999191111199001,D,B,...,B,A,A,C,A,B,D,C,E,C
2,M,ZDCBCCDB,ZDCBCCDB,ABECDDEABDECCBCDEBAEDCDBAAA,ABEXDDEABDECXXXDXBAEDCXXAAA,NaN,NaN,NaN,NaN,NaN,...,A,A,B,C,A,D,B,C,B,A
3,M,ZDCBCCDB,ZDCBCCDB,ABECDDEABDECCBCDEBAEDCDBAAA,ABEXDDEABDECXXXDXBAEDCXXAAA,ADCCACEB,EEEEAEDABAEADAEDACABDCCCDDC,001900011010999190101199000,C,C,...,B,A,D,G,A,A,D,A,C,F
4,M,ZDCBCCDB,ZDCBCCDB,ABECDDEABDECCBCDEBAEDCDBAAA,ABEXDDEABDECXXXDXBAEDCXXAAA,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
433925,F,ZDCBCCDB,ZDCBCCDB,BADCABDCEDECACBCDAEDEZEZBAA,BXDCABDCEDECAXBXDAEDEZEZBAA,ADCBAABB,DADCABDCEDECADBCAAEDEAEBBAA,9.11111E+25,C,C,...,A,A,B,C,A,C,C,E,E,H
433926,M,ZDCBCCDB,ZDCBCCDB,BADCABDCEDECACBCDAEDEZEZBAA,BXDCABDCEDECAXBXDAEDEZEZBAA,BECCEBEE,BADCABDCEDECACBCCAADEBEBBED,1.91111E+26,C,C,...,B,A,B,A,A,A,B,E,H,F
433927,M,ZDCBCCDB,ZDCBCCDB,BADCABDCEDECACBCDAEDEZEZBAA,BXDCABDCEDECAXBXDAEDEZEZBAA,BDCBDCEC,BADEBDDCEDECAEBCEABDEBECBAB,1.91E+26,D,C,...,A,A,B,C,A,E,C,E,E,F
433928,M,ZDCBCCDB,ZDCBCCDB,BADCABDCEDECACBCDAEDEZEZBAA,BXDCABDCEDECAXBXDAEDEZEZBAA,ADDBDCEE,BADCABDCEDECAEBCCAEDEBDBACC,1.91111E+26,D,C,...,E,A,A,C,B,B,B,E,H,G
433929,F,ZDCBCCDB,ZDCBCCDB,BADCABDCEDECACBCDAEDEZEZBAA,BXDCABDCEDECAXBXDAEDEZEZBAA,ABCCACDC,BADCABDCEDECAEBCDACDEBEBBAA,1.91111E+26,C,C,...,A,A,A,G,A,C,B,E,A,F